.cart{
    display: flex;
    flex:1;
    background-color:white;
}
.cartLeft{
    flex:4;
    background-color: white;
    padding:15px;
    width:30px;
    overflow: scroll;
    margin:20px;
}
.cartButtonRight{
background-color: green;
color:white;
text-align: center;
border-radius: 5px;
font-weight: 600;
border:none;
outline:none;
width:200px;
padding: 8px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;

}
.cartButtons{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.cartButton{
    cursor: pointer;
}
.cartRight{
    flex:2;
background-color:white;
margin-right: 20px;
}
.carttext{
    font-size: 13px;
    font-weight: 500;
}
.carttextDescription{
    font-size: 14px;
    color:gray;
    font-weight: 400;
    flex:1;
    display: flex;
}
.cartDescription{
    margin-left: 10px;
}
.carttype{
    font-size: 14px;
    font-weight: 500;
}